.table {
    font-size: 0.8em;
    color: #b7b7b7;
    //border: 1px solid #b7b7b7;
    border: 0;
    small {
        padding: 0;
        background-color: transparent;
    }
}

.tableContainer {
    max-height: 400px;
    overflow-y: scroll;
}
