.dashboard {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    @media (min-width: 961px) {
        grid-template-areas: "map stats"
                             "details cities";
        grid-template-columns: 50% 50%;
    }
    @media (max-width: 960px) {
        grid-template-areas: "map"
                             "stats"
                             "cities"
                             "details";
        grid-template-columns: 95%;
    }
}

.map {
    grid-area: map;
    @media (min-width: 961px) {
        //min-width: 600px;
    }
    padding: 1em;
}

.stats {
    grid-area: stats;
}

.cities {
    grid-area: cities;
}

.details {
    grid-area: details;
}

.mapboxgl-ctrl-bottom-right {
    display: none !important;
}
