.stats {

}

.btn-group {
    grid-area: buttons;
}

.main {
    display: grid;
    grid-template-areas: "buttons buttons"
                         "overview demo";
    @media screen and (max-width: 600px) {
            grid-template-areas: "buttons buttons"
                                 "overview overview"
                                 "demo demo";
    }
}

.overview {
    grid-area: overview;
}

.demo {
    grid-area: demo;
}



