ul {
    padding: 0;
}

li {
    list-style: none;
}

/* TEXT STYLES */
.green-text {
    color: $green;
}

.blue-text {
    color: $blue;
}

.red-text {
    color: $red;
}

.pink-text {
    color: $pink;
}
.white-text {
    color: $white;
}

#main-container {
    padding: 1em 2em;
}

/* buttons */
.btn-transparent {
    border: 2px solid $white;
    color: $white;
    background: none;
    &:hover, &:focus {
        border: 2px solid $pink;
        color: $pink;
    }
    &:active {
        border: 2px solid $red;
        color: $red;
    }
    &[disabled] {
        border: 2px solid gray;
        color: gray;
    }
}
