body {
    font-family: titillium_weblight, sans-serif !important;
    letter-spacing: 0.03em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* TEXT STYLES */
.font-weight-semibold {
    font-family: "titillium_websemibold", sans-serif;
}

.green-text {
    color: $green;
}

.blue-text {
    color: $blue;
}

.section-header {
    color: $gray-medium;
}

.white-text {
    color: $white;
}

.bg-teal {
    background-color: #2ffef7;
}

.bg-green {
    background-color: #49ff42;
}

.bg-yellow {
    background-color: #e5ff24;
}

.bg-blue {
    background-color: #383fff;
}

h4.subtitle {
    font-size: 0.8em;
    margin-bottom: 1em !important;
    //font-style: italic;
    font-family: "titillium_weblight_italic", sans-serif;
    color: $gray-medium;
}

#main-container {
    padding: 1em 2em;
}

/* buttons */

.btn, .btn-outline-light, .btn-sm {
    border-radius: 0 !important;
}

.btn-transparent {
    border: 0.01em solid $white;
    color: $white;
    background: none;
    padding: 0.1em 0.2em;
    font-family: titillium_webextralight, sans-serif;


    &:hover, &:focus {
        border: 0.01em solid $pink;
        color: $pink;
    }

    &:active {
        border: 2px solid $red;
        color: $red;
    }

    &[disabled] {
        border: 2px solid gray;
        color: gray;
    }
}
